<% include partials/head %>
<div class="wrapper">
    <h1><%= title %></h1>
    <div class="ra-r">
        <div class="tp">
            <a class="thumb-pr mn" href="/usages/create">Make a new entry</a>
            <a class="thumb-pr r-e" href="/usages/allentries">View your history</a>
        </div>
    </div>
</div>
<% include partials/foot %>